In [2]:
import pyreadr

In [4]:
# reading from rda file and converting the dataset to a pandas data frame

data = pyreadr.read_r('./Data/data/gefcom.rda')
df = data['gefcom']

In [7]:
# Getting the data for Connecticut (CT)
dfCT = df.loc[df['zone'] == 'CT']
# Taking a sample of five years for the regression model to avoid over fitting
dfCT = dfCT.loc[(dfCT['year'] >= 2004.0) & (dfCT['year'] <= 2016.0)]
#dfCT = dfCT.loc[(dfCT['year'] <= 2016.0)]
dfCT = dfCT.drop(['holiday_name'], axis=1)
CT =dfCT.set_index('ts')
CT.head()

,zone,demand,drybulb,dewpnt,date,year,month,hour,day_of_week,day_of_year,weekend,holiday,trend
ts,,,,,,,,,,,,,
2004-01-01 00:00:00,CT,3126.0,33.0,26.0,2004-01-01,2004.0,Jan,1.0,Thu,1.0,False,False,7344.0
2004-01-01 01:00:00,CT,2945.0,34.0,26.0,2004-01-01,2004.0,Jan,2.0,Thu,1.0,False,False,7345.0
2004-01-01 02:00:00,CT,2804.0,40.0,26.0,2004-01-01,2004.0,Jan,3.0,Thu,1.0,False,False,7346.0
2004-01-01 03:00:00,CT,2729.0,38.0,23.0,2004-01-01,2004.0,Jan,4.0,Thu,1.0,False,False,7347.0
2004-01-01 04:00:00,CT,2722.0,37.0,21.0,2004-01-01,2004.0,Jan,5.0,Thu,1.0,False,False,7348.0